/.boot/
/resources/public/
/.nrepl-port
/.repl-history
/.lein-*
/target
/classes
/checkouts

# Elixir
/_build
/deps
erl_crash.dump
*.ez
fontconfig
*.pyc
mix.lock

# C extensions
*.so

# Linux open files
*~

# KDE directory preferences
.directory

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Logs
*.log

# intelliJ IDE
*.iml

# OSX
.Trashes
.AppleDB
.AppleDesktop
.DS_Store
.AppleDouble
.LSOverride
.Spotlight-V100
workspace.xml
.idea/*
